<div [formGroup]="form" class="full-width">
  <span>{{label}}</span>
  <md-chip-list>
    <md-chip selected="true" color="primary" *ngFor="let member of items">
      {{member.name}} <span class="remove-tag" (click)="removeMember(member)">x</span>
    </md-chip>
  </md-chip-list>
  <md-input-container *ngIf="displayInput" class="full-width">
    <input type="text" 
    mdInput 
      [placeholder]="placeholderText" 
      [mdAutocomplete]="autoMember" 
      formControlName="memberSearch">
  </md-input-container>
</div>
                                                <!-- displayUser是个函数 -->
<md-autocomplete #autoMember="mdAutocomplete" [displayWith]="displayUser">
            <!-- angular 中支持 直接在html中 ngFor一个Observable，只要加上 | async，不需要引入onDestory中取消订阅unsubscription -->
  <md-option *ngFor="let item of memberResult$ | async"
    [value]="item"
    (onSelectionChange)="handleMemberSelection(item)">
    {{item.name}}
  </md-option>
</md-autocomplete>